.DS_Store
node_modules
/dist

# Files that shouldn't be pushed to the repository
public/resume-gomba.pdf
public/Screenshot 2025-05-30 000239.png
public/Screenshot 2025-05-30 000254.png
public/Screenshot 2025-05-30 000303.png
public/Screenshot 2025-05-30 000312.png
public/Screenshot 2025-05-30 000320.png
public/Screenshot 2025-05-30 000331.png
public/Screenshot 2025-05-30 000339.png

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
